/* 输入框 开始*/
.blogInput, .blogContent {
    width: 80vw;
    border: none;
}
.blogInput {
    height: 3vh;
    display: block;
    line-height: 3vh;
    border-bottom: solid 1px grey;
    margin: 10px 0;
}

.blogContent {
    border: none;
    height: 65vh;
}
/* 输入框 结束*/

/* 按钮 开始 */
.editButton {
    width: 5vw;
    padding: 5px 10px;
    margin: 0 5px;
    color: gray;
    background-color: #333333;
}

.editButton:hover {
    font-weight: bold;
    color: white;
    cursor: pointer;
}
/* 按钮 结束 */
