* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* 整体布局设置 start */
#navigation, #footnote {
    width: 100%;
}

#navigation {
    background-color: #333333;
    height: 50px;
}

#kernel {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

#footnote {
    background-color: #80808021;
    height: 80px;
    margin-top: auto;
}
/* 整体布局设置 end */

/* navigation start */
#navigation ul {
    margin: 0 auto;
    width: 80vw;
}

#navigation ul li {
    float: left;
    margin: 0 10px;
    padding: 5px;
    color: gray;
    line-height: 40px;
}

#navigation ul li:hover {
    cursor: pointer;
    color: white;
}

#navigation .selected {
    background-color: black;
}
/* navigation end */

/* kernel start */

/* kernel end */

/* footnote start */
#footnote {
    text-align: center;
    line-height: 80px;
}
/* footnote end */