#tags {
    width: 50vw;
    height: 80vh;
    margin: auto auto;
    display: flex;
    /* 垂直居中 */
    align-items: center;
    /* 水平居中 */
    justify-content: center;
}

#innerTag {
    display: flex;
    align-items: center;
    /* 倒序排列 */
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.wordCloud {
    border-bottom: 1px solid #333333;
    font-size: 1.5em;
    margin: 10px 20px;
    padding: 10px 5px;
    display: inline-block;
}

.wordCloud:hover {
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid black;
}